---
import Layout from 'layouts/Layout.astro';
import Image from 'components/Image.astro';
import about from '../../content/about/author.json';
import avatar from '../../content/about/avatar.jpg';

const title = `${about.name} - ${about.role}`;
---

<Layout title={title}>
  <article class="my-auto pb-8">
    <div class="flex mb-3 flex-col-reverse sm:flex-row">
      <h1 class="title text-slate-800">
        <div
          class="relative inline-block text-4xl sm:text-7xl md:text-8xl lg:text-9xl font-bold tracking-tight"
        >
          <span class="title-gradient">{about.name}</span>
          <span
            class="title-cover absolute inset-0 transition-opacity duration-500 print:hidden"
            aria-hidden="true"
          >
            {about.name}
          </span>
        </div>
      </h1>

      <div
        class="w-10 h-10 mb-2 sm:w-16 sm:h-16 sm:-mt-10 rounded-full overflow-hidden first:w-full first:h-width transition-all hover:ring hover:ring-offset-4 hover:scale-105"
      >
        <Image
          src={avatar}
          width={128}
          height={128}
          loading="lazy"
          alt={about.name}
        />
      </div>
    </div>

    <p
      class="block text-md w-[80%] md:w-[85%] sm:text-xl font-medium sm:leading-relaxed text-slate-400 transition-color duration-300 hover:text-slate-600 dark:hover:text-slate-200"
    >
      I'm a {about.role} at
      <a
        href={about.company.url}
        class="border-b dark:border-slate-600 dark:hover:border-slate-400"
      >
        {about.company.name}
      </a>
    </p>

    <p
      class="block text-md w-[80%] md:w-[85%] sm:text-xl font-medium sm:leading-relaxed text-slate-400 transition-color duration-300 hover:text-slate-600 dark:hover:text-slate-200"
    >
      I like to contribute to{' '}
      <a
        href="/about#projects"
        class="border-b dark:border-slate-600 dark:hover:border-slate-400"
      >
        open-source
      </a>{' '}
      and{' '}
      <a
        href="/blog"
        class="border-b dark:border-slate-600 dark:hover:border-slate-400"
      >
        write
      </a>{' '}
      about web development.
    </p>
  </article>
</Layout>
