---
import Background from 'components/Background.astro';
import Title from 'components/Title.astro';
import Layout from 'layouts/Layout.astro';
import about from '../author.json';

const title = `${about.name} - ${about.role}`;
---

<Layout title={title}>
  <article class="my-auto pb-8">
    <div class="mb-3 flex flex-col-reverse sm:flex-row">
      <Title name={about.name} />

      <div
        class="first:h-width mb-2 h-10 w-10 overflow-hidden rounded-full transition-all duration-200 first:w-full sm:-mt-10 sm:h-16 sm:w-16 sm:hover:scale-125"
        data-zoomable
      >
        <!-- Do not use Img here because Gravatar already does this convertion  -->
        <img src={`${about.avatar}?s=128`} alt={about.name} />
      </div>
    </div>

    <p
      class="block w-[80%] font-medium text-slate-400 transition-colors duration-200 hover:text-slate-600 dark:hover:text-slate-200 sm:text-xl sm:leading-relaxed md:w-[85%]"
    >
      I'm a {about.role} at
      <a href={about.company.url}>{about.company.name}</a>
    </p>

    <p
      class="block w-[80%] font-medium text-slate-400 transition-colors duration-200 hover:text-slate-600 dark:hover:text-slate-200 sm:text-xl sm:leading-relaxed md:w-[85%]"
    >
      I contribute to <a href="/about#projects">open-source</a>, and
      <a href="/blog">write</a> about web development.
    </p>
  </article>
  <Background />
</Layout>

<style>
  a {
    @apply border-b hover:border-current;
    text-decoration: none;
  }
</style>
