---
import { Img } from 'astro-imagetools/components';
import Link from 'components/Link.astro';
import Title from 'components/Title.astro';
import Layout from 'layouts/Layout.astro';
import about from '../author.json';

const title = `${about.name} - ${about.role}`;
---

<Layout title={title}>
  <article class="my-auto pb-8">
    <div class="flex mb-3 flex-col-reverse sm:flex-row">
      <Title name={about.name} />

      <div
        class="w-10 h-10 mb-2 sm:w-16 sm:h-16 sm:-mt-10 rounded-full overflow-hidden first:w-full first:h-width transition-all duration-200 sm:hover:scale-125"
      >
        <Img
          src={about.avatar}
          format="webp"
          width={256}
          height={256}
          alt={about.name}
        />
      </div>
    </div>

    <p
      class="block w-[80%] md:w-[85%] sm:text-xl font-medium sm:leading-relaxed text-slate-400 hover:text-slate-600 dark:hover:text-slate-200 transition-color duration-200 text-md"
    >
      I'm a {about.role} at
      <Link href={about.company.url}>{about.company.name}</Link>
    </p>

    <p
      class="block w-[80%] md:w-[85%] sm:text-xl font-medium sm:leading-relaxed text-slate-400 hover:text-slate-600 dark:hover:text-slate-200 transition-color duration-200 text-md"
    >
      I contribute to <Link href="/about#projects">open-source</Link>, and
      <Link href="/blog">write</Link> about web development.
    </p>
  </article>
</Layout>
