---
import { Icon } from 'astro-icon';
import { talks } from '../author.json';
---

{
  talks.map(({ title, description, places, url }) => (
    <section>
      <h3 class="flex text-lg">
        <a href={url}>{title}</a>
      </h3>
      {places && (
        <ul>
          {places.map(({ name, year, recording }) =>
            recording ? (
              <li class="text-slate-700 dark:text-slate-300">
                <a
                  href={recording}
                  class="transition-opacity opacity-80 hover:opacity-100"
                >
                  <Icon
                    name="ri:video-fill"
                    class="w-4 h-4 align-text-bottom inline"
                  />
                  {name},
                  <span class="text-slate-500 dark:text-slate-400">{year}</span>
                </a>
              </li>
            ) : (
              <li class="text-slate-700 dark:text-slate-300">
                {name},
                <span class="text-slate-500 dark:text-slate-400">{year}</span>
              </li>
            ),
          )}
        </ul>
      )}
      <p>{description}</p>
    </section>
  ))
}
