---
// @ts-expect-error let me be
import config from 'author.json';

type Props = (typeof config.talks)[number];

const { title, description, places, url, language } = Astro.props;
---

<section class="prose mb-8 max-w-fit dark:prose-dark">
  <h3 class="flex items-center gap-2 text-lg">
    <span
      class="inline-flex select-none items-center rounded bg-slate-200 p-1 text-xs uppercase text-slate-600 dark:bg-slate-400 dark:text-slate-900"
    >
      {language}
    </span>

    <a href={url}>{title}</a>
  </h3>

  <ul>
    {
      places.map(({ name, year, recording }) => (
        <li>
          <a href={recording}>
            {name},
            <span class="text-slate-500 dark:text-slate-400">{year}</span>
          </a>
        </li>
      ))
    }
  </ul>

  <p>{description}</p>
</section>
