---
import type { Talk } from 'types';
import LangBadge from './LangBadge.astro';
import Link from './Link.astro';

type Props = Talk;

const { title, description, places, url, language } = Astro.props;
---

<section>
  <h3 class="flex items-center gap-2 text-lg">
    <LangBadge>{language}</LangBadge>
    <Link href={url}>{title}</Link>
  </h3>

  <ul>
    {
      places.map(({ name, year, recording }) => (
        <li>
          <Link href={recording}>
            {name},
            <span class="text-slate-500 dark:text-slate-400">{year}</span>
          </Link>
        </li>
      ))
    }
  </ul>

  <p>{description}</p>
</section>
