---
import { format } from "date-fns";
import Layout from "layouts/Layout.astro";
import { Image } from "astro:assets";
import author from "author.json";
import CommentBox from "components/CommentBox.astro";
import ViewCounter from "components/ViewCounter.astro";
import PostContent from "components/PostContent.astro";
import PostNav from "components/PostNav.astro";
import type { CollectionEntry } from "astro:content";
import getReadingTime from "reading-time";

import "prismjs/themes/prism-tomorrow.css";
import "prismjs";
import "medium-zoom/dist/style.css";
import RelatedArticles from "components/RelatedArticles.astro";

type Props = { entry: CollectionEntry<"blog"> | CollectionEntry<"til"> };

const { title, publishedAt, summary, tags } = Astro.props.entry.data;
const { slug, id, collection } = Astro.props.entry;

const cover = collection === "blog" ? Astro.props.entry.data.cover : undefined;

const publishDate = format(publishedAt, "MMMM d, yyyy");
const minutesRead = getReadingTime(Astro.props.entry.body);
---

<Layout
  title={title}
  description={summary}
  article={{ date: publishDate }}
  image={cover}
  viewTransitionEnabled={false}
>
  {
    cover && (
      <div aria-label="cover" class="overflow-hidden rounded-2xl shadow-lg">
        <Image src={cover} alt={title} width={1400} height={600} />
      </div>
    )
  }

  <article
    class="my-6"
    item-prop="blogPost"
    item-scope
    item-type="https://schema.org/BlogPosting"
  >
    <h1
      class="mb-6 text-3xl font-bold tracking-tight md:text-4xl"
      item-prop="title"
    >
      {title}
    </h1>

    <header class="mb-8 flex items-center sm:mb-10">
      <figure class="mr-4 h-8 w-8 flex-shrink-0 overflow-hidden rounded-full">
        <Image
          src={`${author.avatar}?s=150`}
          alt={author.name}
          width={150}
          height={150}
        />
      </figure>
      <div
        class="flex flex-col text-sm text-slate-600 dark:text-slate-400 sm:w-full sm:flex-row sm:justify-between"
      >
        <div>
          <span
            item-prop="author"
            item-scope
            item-type="https://schema.org/Person"
          >
            <span item-prop="name">{author.name}</span>
          </span>
          at
          <time item-prop="datePublished" date-time={publishedAt}>
            {publishDate}
          </time>
          <p>{minutesRead.text}</p>
        </div>
        <ViewCounter slug={slug} />
      </div>
    </header>

    {collection === "blog" && <PostNav entry={Astro.props.entry} />}

    <PostContent>
      <slot />

      {tags && tags.length && <RelatedArticles tags={tags} id={id} />}
    </PostContent>
  </article>

  <CommentBox repo="EmaSuriano/portfolio" />
</Layout>
